<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>object_list</key>
	<array>
		<dict>
			<key>class</key>
			<string>#CommodityListViewController</string>
			<key>name</key>
			<string>search_url_solver</string>
			<key>index</key>
			<integer>0</integer>
			<key>exact_url</key>
			<array>
				<string>k.m.baidu.com/s/search</string>
				<string>m.baidu.com/s/search</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>#MDetailViewController</string>
			<key>name</key>
			<string>M_detail_url_solver</string>
			<key>exact_url</key>
			<array>
				<string>m.baidu.com/item.html</string>
				<string>m.baidu.com/main/rebate</string>
			</array>
		</dict>
		<dict>
			<key>ext</key>
			<dict>
				<key>modal</key>
				<false/>
				<key>animated</key>
				<true/>
			</dict>
			<key>class</key>
			<string>#MNavigatorDetailViewController</string>
			<key>name</key>
			<string>korea_detail_url_solver</string>
			<key>index</key>
			<string>101</string>
			<key>exact_url</key>
			<array>
				<string>m.baidu.com/koreaitem.html</string>
				<string>k.m.baidu.com/koreaitem.html</string>
				<string>k.m.baidu.com/main/rebate</string>
				<string>k.m.baidu.com/item.html</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
